.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px 20px;
    color: white;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .welcome-message {
    margin-right: 10px;
  }
  
  .logout-button,
  .doctor-button {
    background-color: #ff5733;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-button:hover,
  .doctor-button:hover {
    background-color: #ff3d1a;
  }
  